__pycache__/
*.pyc
venv/
.env
# Ignore contents but keep folder
# data/output/*
# data/logs/*

# Keep folder placeholders
!data/output/.gitkeep
!data/logs/.gitkeep
.DS_Store
.idea/

# Optional: ignore user images if sensitive
# data/images/